@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
}

header {
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../lobbyblur.png');
    background-size: cover;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
    padding: 2vh;
    border-bottom: 2px solid black;
}

nav a, button {
    width: 10%;
    padding: 0px;
    margin: 0px;
    border: 3px solid rgb(197, 197, 197);
    background:rgb(235, 235, 235);
    border-radius: 5px;
    transition-duration: 0.3s;
}

nav a {
    height: 2.5vh;
    line-height: 2.5vh;
}

button a {
    width: 10vw;
    height: 5vh;
}

button {
    cursor: pointer;
    width: 20vw;
    height: 5vh;
    font-family: 'Rubik';
    margin: 1vh;
}

nav a:hover, button:hover {
    background:rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: black;
}

#pfp {
    border-radius: 50%;
    width: 10vh;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2{
    font-weight: 400;
    line-height: 1vh;
}

h3 {
    font-weight: 400;
    margin: 0px;
}